.mainc {
    display: flex;
    justify-content: center;
    position: relative;
}

.contactenosmain {
    margin: 20px auto;
    background-image: url("../imagenes/contactenos.jpg");
    width: 1000px;
    height: 600px;
    background-repeat: no-repeat;
    display: flex;
    .imgcontacto {
        @include caja_perso();
    }
}

.texto {
    margin-top: 120px;
    width: 400px;
    height: 300px;
}

.formulario {
    text-align: center;
    color: map-get($map: $colores, $key: 'secondary');
    margin: 30px;
}

@media screen and (max-width: 700px) {
    .mainc {
        display: block;
    }
    .texto {
        margin: auto;
        margin-top: 20px;
    }
}