footer {
    bottom: 0px;
    position: absolute;
    background-color: $colorbg;
    color: $letra;
    width: 100%;
    height: 270px;
    p {
        color: map-get($map: $colores, $key: 'primary');
        ;
        font-size: 14px;
        margin-top: 20px;
    }
    h3 {
        font-size: 20px;
        color: map-get($map: $colores, $key: 'primary');
    }
    .row {
        font-family: 'Raleway', sans-serif;
        margin-top: 20px;
        display: flex;
        a {
            padding-left: 20px;
            text-decoration: none;
        }
        a:link {
            text-decoration: none;
            color: white;
        }
        a:visited {
            text-decoration: none;
            color: white;
        }
        a:hover {
            text-decoration: none;
            color: white;
        }
        a:active {
            text-decoration: none;
            color: white;
        }
    }
    .row2 {
        font-family: 'Raleway', sans-serif;
        margin-top: 20px;
        display: flex;
        label {
            margin-left: 20px;
        }
    }
    label {
        margin-top: 10px;
        margin-left: 20px;
        color: map-get($map: $colores, $key: 'primary');
    }
    .container-footer-all {
        width: 100%;
        max-width: 1200px;
        margin-bottom: 10px;
        margin: auto;
    }
    .container-body {
        display: flex;
        background-color: $colorbg;
    }
    .column1 {
        max-width: 400px;
        margin: auto;
        margin-top: 20px;
        @include font();
        ul {
            margin-top: 20px;
        }
    }
    .column2 {
        font-family: 'Raleway', sans-serif;
        @include font();
        max-width: 400px;
        margin: auto;
        height: 200px;
        margin-top: 20px;
    }
    .column3 {
        font-family: 'Raleway', sans-serif;
        @include font();
        max-width: 400px;
        height: 200px;
        margin: auto;
        margin-top: 17px;
        .label {
            @include font();
        }
    }
    .copyright {
        margin-bottom: 10px;
        text-align: center;
    }
}

@media screen and (max-width: 1100px) {
    .container-body {
        flex-wrap: wrap;
    }
    .column2,
    .column3 {
        margin: auto;
    }
}

@media screen and (max-width: 715px) {
    .container-footer-all {
        display: block;
    }
    .container-body {
        display: block;
    }
    .column2,
    .column3 {
        margin: auto;
    }
}