.indexMain {
    width: 600px;
    height: 600px;
    justify-content: center;
    margin: auto;
    margin-bottom: 50px;
    .textoMain {
        text-align: center;
        font-family: 'Raleway', sans-serif;
    }
}