$colorbg:rgba(72, 72, 72, 255);
$letra: rgb(219, 219, 219);
* {
    padding: 0px;
    margin: 0px;
}

body {
    background-image: url("../imagenes/1PLANTILLA\ STORY.png");
    background-size: 100%;
}

header {
    background-color: $colorbg;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.formulario {
    width: 400px;
    height: 400px;
    margin: auto;
    text-align: center;
    color: $letra;
}

footer {
    margin-top: 60px;
    background-color: $colorbg;
    color: $letra;
    width: 100%;
    p {
        color: $letra;
        font-size: 14px;
        margin-top: 20px;
    }
    h3 {
        font-size: 20px;
        color: $letra;
    }
    .row {
        margin-top: 20px;
        display: flex;
        img {
            width: 40px;
            height: 40px;
        }
    }
    .row2 {
        margin-top: 20px;
        display: flex;
        img {
            width: 40px;
            height: 40px;
            margin-top: 15px;
            margin-bottom: 15px;
        }
    }
    label {
        margin-top: 10px;
        margin-left: 20px;
        color: $letra;
    }
    .container-footer-all {
        width: 100%;
        max-width: 1200px;
        margin: auto;
    }
    .container-body {
        display: flex;
    }
    .column1 {
        max-width: 400px;
        margin: auto;
    }
    .column2 {
        max-width: 400px;
        margin: auto;
    }
    .column3 {
        max-width: 400px;
        margin: auto;
    }
}